<section class="section_title text-center align-center row collapse expanded aud">
    <div class="column small-12">
        <hr>
    </div>
    <div class="column small-12 shrink">
        <h4>Learn more about IOE</h4></div>
</section>
<section class="aud-row row expanded text-center" data-equalizer data-equalize-on="medium">
    <div class="column small-12 medium-6 large-3">
        <a href="#">
            <div class="image"><img src="{{root}}assets/img/aud-03.jpg" alt="describe the image"></div>
            <div class="text-box purple" data-equalizer-watch>
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-feather">
                        <path d="M20.24 12.24a6 6 0 0 0-8.49-8.49L5 10.5V19h8.5z"></path>
                        <line x1="16" y1="8" x2="2" y2="22"></line>
                        <line x1="17" y1="15" x2="9" y2="15"></line>
                    </svg>
                </div>
                <div class="text">
                    <h3>EXPLORE UNDERGRAD</h3>
                    <p>Go in-depth with our top-tier undergrad program.</p>
                    <p class="cta">Learn more &raquo;</p>
                </div>
            </div>
        </a>
    </div>
    <div class="column small-12 medium-6 large-3">
        <a href="#">
            <div class="image"><img src="{{root}}assets/img/aud-01.jpg" alt="describe the image"></div>
            <div class="text-box orange" data-equalizer-watch>
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-award">
                        <circle cx="12" cy="8" r="7"></circle>
                        <polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"></polyline>
                    </svg>
                </div>
                <div class="text">
                    <h3>GRADUATE PROGRAMS</h3>
                    <p>Explore our renowned master's and PhD programs.</p>
                    <p class="cta">Learn more &raquo;</p>
                </div>
            </div>
        </a>
    </div>
    <div class="column small-12 medium-6 large-3">
        <a href="#">
            <div class="image"><img src="{{root}}assets/img/aud-02.jpg" alt="describe the image"></div>
            <div class="text-box red" data-equalizer-watch>
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase">
                        <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect>
                        <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                    </svg>
                </div>
                <div class="text">
                    <h3>OUR RESEARCH</h3>
                    <p>All U-M engineers are problem solvers and creative thinkers; U-M IOE engineers take that to the next level.</p>
                    <p class="cta">Read more &raquo;</p>
                </div>
            </div>
        </a>
    </div>
    <div class="column small-12 medium-6 large-3">
        <a href="#">
            <div class="image"><img src="{{root}}assets/img/aud-04.jpg" alt="describe the image"></div>
            <div class="text-box blue" data-equalizer-watch>
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
                        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                        <circle cx="9" cy="7" r="4"></circle>
                        <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                    </svg>
                </div>
                <div class="text">
                    <h3>ABOUT THE FIELD</h3>
                    <p>Industrial &amp; Operations Engineering (IOE) has a powerhouse impact on the real world.</p>
                    <p class="cta">Work with the best &raquo;</p>
                </div>
            </div>
        </a>
    </div>
</section>