<section class="quote row align-center align-middle text-center expanded collapse">
    <div class="quote-container column small-11 medium-11 large-10">
        <blockquote class="the-quote">There is a rich tradition of industrial and operations engineering education and research at Michigan. We have world renowned faculty, successful alumni, and the best and brightest students.</blockquote>
        <cite>Mark Daskin, Clyde W Johnson Collegiate Professor of Industrial and Operations Engineering and IOE Chair.</cite>
        <div class="cta"><a href="#">start exploring now &raquo;</a></div>
    </div>
    <div class="quote-bg column small-11 medium-11 large-9"></div>
</section>