<section class="video row small-collapse expanded">
    <div class="column large-12">
        <div class="row collapse">
            <div class="column small-12 large-8 video-embed">
                <div class="responsive-embed widescreen">
                    <iframe width="837" height="471" src="https://www.youtube.com/embed/AXS2WJIyNrE?ecver=1" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="column caption align-self-bottom">
                <div class="top-border"></div>
                <p class="dek">“I wouldn’t be at the University of Michigan without donors. That is the reason I was able to come to the University of Michigan and the reason that I am still motivated and passionate about IOE. I work harder in my classes because I know that donors are putting a lot and investing a lot in me and I want to make sure that I’m doing the best I can to make the biggest impact on the University and whatever job I go out and take.”</p>
                <!-- <div class="cta">
                    <a href="#to-do">Read more about scholarships &raquo;</a>
                </div> -->
            </div>
        </div>
    </div>
</section>